<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <script src="js/jquery.min.js"></script>
    <script src="js/annotator-full.min.js"></script>
    <link rel="stylesheet" href="css/annotator.css">

</head>
<body>
    <section id="content">
        ${articles.articleContent}
    </section>

</body>
<script type="text/javascript">
    jQuery(function ($) {
        //Adding more plugins
        $('#content').annotator()
            .annotator('addPlugin', 'Tags');
    });
</script>
</html>